{% extends "base.html" %}

{% block title %}
{{ _("Warnings") }}
{% endblock %}

{% block content %}
	<a class="btn btn-primary float-end" href="{{ url_for('admin.create_edit_warning') }}">{{ _("New Warning") }}</a>

	<h1>{{ _("Warnings") }}</h1>

	<p>
		Also see <a href="/help/content_flags/">Package Flags</a>.
	</p>

	<div class="list-group">
		<div class="list-group-item">
			<div class="row text-muted">
				<div class="col-sm-2">
					{{ _("Name") }}
				</div>

				<div class="col-sm">
					{{ _("Description") }}
				</div>

				<div class="col-sm-1 text-center">
					{{ _("Packages") }}
				</div>
			</div>
		</div>

		{% for t in warnings %}
			<a class="list-group-item list-group-item-action"
					href="{{ url_for('admin.create_edit_warning', name=t.name) }}">
				<div class="row">
					<div class="col-sm-2">
						{{ t.title }}
					</div>

					<div class="col-sm">
						{{ t.description }}
					</div>

					<div class="col-sm-1 text-center">
						{{ t.packages | count }}
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
