.img-thumbnail-1 {
	padding: 0px;
	// width: 100%;
	background: white;
}

.comments {
	list-style: none;
	padding: 0;

	.card {
		position:relative;

		.card-header:before {
			position: absolute;
			top: 11px;
			right: 100%;
			width: 0;
			height: 0;
			display: block;
			content:" ";
			border-color: transparent;
			border-style: solid solid outset;
			pointer-events:none;
			border-right-color: #444;
			border-width: 14px;
		}
	}

	.user-photo {
		width: 60px;
		height: 60px;
		object-fit: cover;
	}

	.status-update p {
		margin: 0;
	}
}
