.ui-autocomplete, ui-front {
	position:absolute;
	cursor:default;
	z-index:1100 !important
}

.ui-autocomplete {
	background: #333 !important;
	border: 1px solid #444 !important;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 400px;

	li {
		display: block !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	a {
		display: block;
		padding: 0.3em 0.5em !important;
		margin: 0 !important;
	}
}

.bulletselector {
	height: auto !important;
	display: inline-block !important;
}

.bulletselector input {
	border: none;
	border-radius: 0;
    -moz-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	width: auto;
	min-width: 50px;
	float: left;
    padding: 4px 0;
	white-space: nowrap;
	background: transparent;
}
.bulletselector .badge {
	float: left;
	padding: 0.4em 0.8em;
	margin-right: 0.3em;
}

.invalid-remaining {
	display: none;
}

.t-mll tr td:not(:first-child) {
	text-align: left;
}

.userlist li.NOT_JOINED {
	color: #aaa !important;
}

.NOT_JOINED a, .NOT_JOINED {
	color: #7ac !important;
}

.ADMIN a, .ADMIN{
	color: #e30 !important;
}

.MODERATOR a, .MODERATOR {
	color: #e90 !important;
}

.EDITOR a, .EDITOR {
	color: #b6f !important;
}

.TRUSTED_MEMBER a, .TRUSTED_MEMBER {
	color: #2c2 !important;
}

.wiptopic a:not(.btn) {
	color: #7ac;
}

.discardtopic {
	text-decoration: line-through;
	a:not(.btn) {
		color: #7ac;
	}
	filter: brightness(0.5);
}

.editor-toolbar, .editor-toolbar.fullscreen {
	margin-bottom: 0 !important;
	background-color: #444 !important;
	border: none !important;
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0 !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.editor-toolbar button {
	color: white;
}

.editor-toolbar button.active, .editor-toolbar button:hover {
	background: #375a7f !important;
	color: white !important;
}

.editor-toolbar.fullscreen::before, .editor-toolbar.fullscreen::after {
	display: none !important;
}

// .CodeMirror {
// 	background-color: #222 !important;
// }

.editor-preview-side, .editor-preview {
	background-color: #222 !important;
	color: white !important;
}
