@import "components.scss";
@import "packages.scss";
@import "packagegrid.scss";
@import "comments.scss";

.dropdown:hover .dropdown-menu {
   display: block;
}

.nav-link > img {
	max-height: 1em;
}

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.alert .btn {
    text-decoration: none;
}
