@import "components.scss";
@import "packages.scss";
@import "gallery.scss";
@import "packagegrid.scss";
@import "comments.scss";

footer {
	text-align: center;
	color: #999;

	a {
		color: #2e997e;
	}

	a:hover {
		color: #00bc8c;
	}

	.list-inline {
		max-width: 520px;
		margin: 0.25rem auto;
	}
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0 0 0.5em;
	letter-spacing: .05em
}

h2 {
	font-size: 1.8em;
	font-weight: bold;
	color: white;
	margin: 1.5em 0 1em;
	letter-spacing: .05em;
	padding: 0 0 0.5em 0;
	border-bottom: 1px solid #444;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	color: white;
	margin: 1.5em 0 1em;
	letter-spacing: .05em
}

.badge-notify {
	background:yellow; /* #00bc8c;*/
	color: black;
	position:relative;
	top: -12px;
	left: -10px;
	margin-right: -10px;
	font-size:10px;
}

a:hover .badge-notify {
	color: black;
}

.badge-emoji {
	padding: 0;
	background: transparent;
	font-size: 15px;
	top: -10px;
}

p, .content li {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
	line-height: 1.6em;
}

.markdown {
	word-break: break-word;

	img {
		max-width: 100%;
	}
}

pre {
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(51, 51, 51, 0.25);
	padding: 0.75rem 1.25rem;
	border-radius: 0.25rem;
}

.dropdown-menu {
	margin-top: 0;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.nav-link > img {
	max-height: 1em;
}

#alerts {
	display: block;
	list-style: none;
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	margin: 0;
	padding:0;
	z-index: 1000;
}

#alerts li {
	list-style: none;
}

.jumbotron {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.btn-outline-secondary {
		color: rgba(255, 255, 255, 0.8);
		border-color: rgba(0, 0, 0, 0.6);
		background: rgba(0, 0, 0, 0.3);
	}

	.btn-outline-secondary:hover {
		color: #fff;
		border-color: rgba(0, 0, 0, 0.8);
		background: rgba(0, 0, 0, 0.6);
	}

	.text-secondary {
		color: rgba(255, 255, 255, 0.8) !important;
	}
}

.alert .btn {
	text-decoration: none;
}

.card {
	.card-header {
		margin: 0;
		font-size: 100%;
		font-weight: normal;
	}
	.table {
		margin-bottom: 0;
	}
}

.btn-download {
	color: #fff;
	background-color: #00b05c;
	border-color: #00b05c;
}

.btn-download:focus, .btn-download.focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.5);
}

.ranks-table tr {
	th, td {
		text-align: center;
	}

	td:first-child, th:first-child {
		text-align: left;
	}
}

#featuredCarousel {
	.embed-responsive-item {
		filter: brightness(0.85);
		object-fit: cover;
	}
	.carousel-item, .embed-responsive-item {
		max-height: 50vh;
	}
	.carousel-inner {
		background-color: #000;
		border-radius: 3px;
		overflow: hidden;
	}
	.carousel-indicators {
		margin-bottom: 0 !important;
		opacity: 0.6;
	}
}

@mixin line_clamp($lines: 0) {
	overflow: hidden;
	text-overflow: ellipsis;

	@if $lines == 0 {
		white-space: nowrap;
	} @else {
		// Fallbacks for browsers not supporting line-clamp.
		max-height: $lines * 1.4em;
		display: block;

		// Line-clamp settings.
		line-clamp: $lines;
		display: -webkit-box;
		-webkit-line-clamp: $lines;
		-webkit-box-orient: vertical;
	}
}

.client-preview {
	background: #50525e;
	padding: 17px 24px 17px 24px;
	gap: 25px;
	font-size: 15px;

	.mt-thumb {
		width: 96px;
		height: 64px;
	}

	p {
		color: #fefefe;
		margin: 0;
	}

	.desc p:nth-child(2) {
		@include line_clamp(2);
		line-height: 1.4;
	}

	.title {
		color: #72fe63;
	}

	.desc {
		margin-top: -4px;
	}
}

.flex-grow {
	flex-grow: 1;
}

@media (min-width: 768px) {
	#featuredCarousel h3 {
		font-size: calc(1.325rem + .9vw) !important;
	}
}

.text-shadow {
	text-shadow: 0 0 10px rgba(10, 10, 10, 0.2), 3px 3px 3px rgba(10, 10, 10, 0.4);
}

@import "dracula.scss";
