nav {
	margin: 0 auto 0 auto;
	list-style: none;
	background: #333;
}

nav .navbar-left {
	float: left;
}

nav .navbar-left li {
	float: left;
}

nav .navbar-right {
	float: right;
}

nav ul {
	margin: 0 auto 0 auto;
	padding: 0;
	list-style: none;
}

nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

nav li a {
	color: #ddd;
	margin: 0;
	padding: 1em 1em;
	display: block;
	border-left: 1px solid #444;
}

nav li a:not([href]) {
	cursor: default;
}

nav ul li:last-child a {
	border-right: 1px solid #444;
}

nav a:hover {
	color: #eee;
	background: #444;
	text-decoration: none;
}

nav img {
	height: 1em;
}

li.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	min-width:160px;
	background: #333;
	z-index: 1;
	right: 0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.dropdown:hover ul {
	display: block;
}

.dropdown li {
	display: block;
}

.dropdown li a {
	border: none;
	border-top: 1px solid #444;
}

.dropdown li:last-child a {
	border-bottom: 1px solid #444;
}
