.packagegrid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	
	padding: 0;
	margin: 0;
}

.packagegrid li {
	flex: 1;
	display: block;	
	min-width: 246px;
	min-height: 164px;
	padding: 1;
	margin: 5px;	
}

.packagegrid a {
	display: block;
	padding-bottom: 66.66%;
	border-radius: 7px;
	position: relative;
	overflow: hidden;
    	background-size: cover;
	background-repeat: no-repeat;
    	background-position: center;
}


.packagegrid a span {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px;
	background: rgba(255, 255, 255, 0.3);
	color: black;
}
