.badge-tr {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #ccc !important;;
}

.info-row {
	vertical-align: middle;

	.count {
		margin-left: 0.3em;
	}

	img {
		filter: grayscale(100%);
	}

	a {
		color: rgba(255, 255, 255, 0.8);
	}

	.btn-group-horizontal > span {
		color: rgba(255, 255, 255, 0.8);
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 0.9375rem;
		line-height: 1.5;
		border-radius: 0.25rem;
	}

	a:hover {
		color: #fff;
		text-decoration: none;
	}
}

.box_img {
	position: relative;
	background-position: center;
	background-size: cover;
	background-image: url("placeholder.png");
	min-height: 220px;
	border-radius: 5px;
	padding: 0;
}

.box_img > h2 {
	display: inline-block;
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.package-short-large {
	font-size: 120%;
}

.plsearchform {
	padding: 0.5em;
}

.plsearchform p {
	display: inline-block;
	padding: 0;
	margin: 0 0.75em;
}

.jumbotron {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #303030;
	border-radius: .3rem;
}
