.packagegrid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 0;
	margin: 0 -7px;
}

.packagegrid li {
	flex: 1;
	display: block;
	min-width: 300px;
	min-height: 200px;
	max-width: 332px;
	padding: 0;
	margin: 7px;
}

.packagegrid a {
	display: block;
	padding-bottom: 66.66%;
	border-radius: 7px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.packagegrid a:hover {
	// box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.4);
}

.packagegridscrub {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.packagegridinfo {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1em;
}

.packagegridinfo h3 {
	color: white;
}

.packagegridinfo p {
	display: none;
	color: #ddd;
	font-weight: normal;
}

.packagegrid a:hover .packagegridinfo {
	top: 0;
}

.packagegrid a:hover p {
	display: block;
}

.packagegrid a:hover .packagegridscrub {
	top: 0;
	background: rgba(0,0,0,0.8);
}
