.screenshot_list, .screenshot_list li, .screenshot_list li a {
	list-style: none;
	margin: 0;
	padding: 0;
}

.screenshot_list li {
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	padding: 0;
}

.screenshot_list li a {
	display: block;
}

.screenshot_list img {
	width: 200px;
	height: 133px;
	object-fit: cover;
}

.screenshot-add {
	display: block !important;
	width: 200px;
	height: 133px;
	background: #444;
	color: #666;
	text-align: center;
	line-height: 133px !important;
	font-size: 80px;

	&:hover {
		background: #555;
		color: #999;
		text-decoration: none;
	}
}

.info-row {
	vertical-align: middle;

	.count {
		margin-left: 0.3em;
	}

	img {
		filter: grayscale(100%);
	}

	a {
		color: rgba(255, 255, 255, 0.8);
	}

	a:hover {
		color: #fff;
		text-decoration: none;
	}
}

.box_img {
	position: relative;
	background-position: center;
	background-size: cover;
	background-image: url("placeholder.png");
	min-height: 220px;
	border-radius: 5px;
	padding: 0;
}

.box_img > h2 {
	display: inline-block;
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.package-short-large {
	font-size: 120%;
}

.pkg_wiz_1, .pkg_wiz_2 {
	display: none;
}

.plsearchform {
	padding: 0.5em;
}

.plsearchform p {
	display: inline-block;
	padding: 0;
	margin: 0 0.75em;
}
