html, body {
	font-family: "Arial", sans-serif;
	background: #222;
	color: #ddd;
	padding: 0;
	margin: 0;
}

.container, main, #alerts, footer {
	width: 90%;
	max-width: 1024px;
	margin: auto;
	padding: 0;
	display: block;
}

main {
	padding: 7px 0;
}

header h1, header p, header form {
	padding: 0 10px;
	margin-left: 0;
}

header {
	padding: 30px;
	background: #258;
}

header p {
	max-width: 400px;
}

footer a {
	color: #666;
}

.asideright {
	float: right;
	margin: 0 0 0 15px;
	max-width: 300px;
}
