Flask~=1.0
Flask-FlatPages~=0.7
Flask-Gravatar~=0.5
Flask-Login~=0.4.1
Flask-Markdown~=0.3
Flask-Menu~=0.7
Flask-Migrate~=2.3
Flask-SQLAlchemy~=2.3
Flask-User~=0.6
Flask-Babel
GitHub-Flask~=3.2
SQLAlchemy-Searchable==1.0.3

beautifulsoup4~=4.6
celery~=4.4
kombu~=4.6
GitPython~=2.1
git-archive-all~=1.20
lxml~=4.2
pillow~=6.2
pyScss~=1.3
redis~=3.3
psycopg2~=2.7
