Flask
Flask-FlatPages
Flask-Gravatar
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-Babel
Flask-Mail
Flask-WTF
flask-openapi3[all]

GitHub-Flask
SQLAlchemy-Searchable
-e git+https://github.com/MatthewScholefield/pydantic-sqlalchemy.git@master#egg=pydantic-sqlalchemy

bcrypt
markdown
bleach
passlib

pygments

beautifulsoup4
celery
kombu
GitPython
git-archive-all
lxml
pillow
libsass
redis
psycopg2

pytest
pytest-cov

email_validator

pyyaml
ua-parser
user-agents

Werkzeug
SQLAlchemy
WTForms
WTForms-SQLAlchemy
requests
alembic

validators
gitdb

deep-compare
