alembic==1.7.5
amqp==5.0.9
attrs==21.4.0
Babel==2.9.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
billiard==3.6.4.0
bleach==4.1.0
blinker==1.4
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coverage==6.3
decorator==5.1.1
Deprecated==1.2.13
dnspython==2.2.0
email-validator==1.1.3
Flask==2.0.2
Flask-Babel==2.0.0
Flask-FlatPages==0.8.1
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
git-archive-all==1.23.0
gitdb==4.0.9
GitHub-Flask==3.2.0
GitPython==3.1.26
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
kombu==5.2.3
libsass==0.21.0
lxml==4.7.1
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
packaging==21.3
passlib==1.7.4
Pillow==9.3.0
pluggy==1.0.0
prompt-toolkit==3.0.26
psycopg2==2.9.3
py==1.11.0
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.7
pytest==6.2.5
pytest-cov==3.0.0
pytz==2021.3
PyYAML==6.0
redis==4.1.2
requests==2.27.1
six==1.16.0
smmap==5.0.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
SQLAlchemy-Searchable==1.4.1
SQLAlchemy-Utils==0.38.2
toml==0.10.2
tomli==2.0.0
ua-parser==0.10.0
urllib3==1.26.8
user-agents==2.2.0
validators==0.18.2
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==3.0.1
WTForms-SQLAlchemy==0.3
