{% extends "emails/base.html" %}

{% block content %}
<h2 style="margin-top: 0;">
	{{ notification.title }}
</h2>

<p>
	{% if notification.package %}
		{{ _("From %(username)s and on package %(package)s.",
				username=notification.causer.username, package=notification.package.title) }}
	{% else %}
		{{ _("From %(username)s.", username=notification.causer.username) }}
	{% endif %}
</p>

<p>
	<a class="btn" href="{{ notification.url | abs_url }}">
		View Notification
	</a>
</p>

{% endblock %}

{% block footer %}
	You are receiving this email because you are a registered user of ContentDB,
	and have email notifications enabled. <br>

	<a href="{{ abs_url_for('users.email_notifications', username=notification.user.username) }}">
		{{ _("Manage your preferences") }}
	</a>
	|
	<a href="{{ abs_url_for('users.unsubscribe', token=sub.token) }}">
		{{ _("Unsubscribe") }}
	</a> <br>

	{{ _("This is a '%(type)s' notification.", type=notification.type.getTitle()) }}
{% endblock %}
