{% extends "emails/base.html" %}

{% block content %}
<h2 style="margin-top: 0;">
	{% if notification.package %}
		{{ _("New notification on package %(package)s", package=notification.package.title) }}
	{% else %}
		{{ _("New notification") }}
	{% endif %}
</h2>

<p><small>{{ _("Triggered by %(username)s", username=notification.causer.display_name) }}</small></p>

<p>
	{{ notification.title }}
</p>

<p>
	<a class="btn" href="{{ notification.url | abs_url }}">
		View Notification
	</a>
</p>

{% endblock %}

{% block footer %}
	You are receiving this email because you are a registered user of ContentDB, and have email notifications enabled.<br>
	<a href="{{ abs_url_for('users.email_notifications', username=notification.user.username) }}">
		{{ _("Manage your preferences") }}
	</a>
{% endblock %}
