<p>
	{{ _("We were unable to perform the password reset as we could not find an account associated with this email.") }}
</p>
<p>
	{{ _("This may be because you used another email with your account, or because you never confirmed your email.") }}
</p>
<p>
	{{ _("You can use GitHub to log in if it is associated with your account.") }}
	{{ _("Otherwise, you may need to contact the admin for help.") }}
</p>
<p>
	{{ _("If you weren't expecting to receive this email, then you can safely ignore it.") }}
</p>
