{% extends "emails/base.html" %}

{% block content %}
<h2 style="margin-top: 0;">Hello!</h2>

<p>
	This email has been sent to you because someone (hopefully you)
	has entered your email address as a user's email.
</p>

<p>
	If it wasn't you, then just delete this email.
</p>

<p>
	If this was you, then please click this link to verify the address:
</p>

<a class="btn" href="{{ url_for('verify_email_page', token=token, _external=True) }}">
	Confirm Email Address
</a>

<p style="font-size: 80%;">
	Or paste this into your browser: {{ url_for('verify_email_page', token=token, _external=True) }}
<p>

{% endblock %}
