{% extends "emails/base.html" %}

{% block content %}
<h2 style="margin-top: 0;">
	{{ _("Hello!") }}
</h2>

<p>
	{{ _("We're sorry to see you go. You just need to do one more thing before your email is blacklisted.") }}
</p>

<a class="btn" href="{{ abs_url_for('users.unsubscribe', token=sub.token) }}">
	{{ _("Unsubscribe") }}
</a>

<p style="font-size: 80%;">
	{{ _("Or paste this into your browser:") }} <code>{{ abs_url_for('users.unsubscribe', token=sub.token) }}</code>
<p>

{% endblock %}

{% block footer %}
	{{ _("You are receiving this email because someone (hopefully you) entered your email address in the unsubscribe form.") }}
{% endblock %}
