{% extends "base.html" %}

{% block title %}
	Set Password
{% endblock %}

{% block content %}

{% if optional %}
	<div class="alert alert-primary">
		It is recommended that you set a password for your account.

		<a class="alert_right button" href="{{ url_for('homepage.home') }}">Skip</a>
	</div>
{% endif %}


<h1>Set Password</h1>

{% from "macros/forms.html" import render_field, render_submit_field %}
<form action="" method="POST" class="form" role="form">
	{{ form.hidden_tag() }}

	{% if form.email and not current_user.email %}
		{{ render_field(form.email, tabindex=220,
				hint=_("Your email is needed to recover your account if you forget your password and to send (configurable) notifications. ") +
					_("Your email will never be shared with a third-party.")) }}
	{% endif %}

	{% if form.old_password %}
		{{ render_field(form.old_password, tabindex=230) }}
	{% endif %}

	{{ render_field(form.password, tabindex=230) }}
	{{ render_field(form.password2, tabindex=240) }}

	<p>
		Must be at least 8 characters long.
	</p>
	<p>
		Password suggestion
		(<a href="https://xkcd.com/936/">Why?</a>):
		<code>{{ suggested_password }}</code>
	</p>

	{{ render_submit_field(form.submit, tabindex=280) }}
</form>

{% endblock %}
