{% extends "base.html" %}

{% block title %}
	Set Password
{% endblock %}

{% block content %}
<h1>{{ _("Set Password") }}</h1>

{% from "macros/forms.html" import render_field, render_submit_field %}
<form action="" method="POST" class="form" role="form">
	{{ form.hidden_tag() }}

	{% if form.email and not current_user.email %}
		{{ render_field(form.email, tabindex=220,
				hint=_("Your email is needed to recover your account if you forget your password and to send (configurable) notifications. ") +
					_("Your email will never be shared with a third-party.")) }}
	{% endif %}

	{% if form.old_password %}
		{{ render_field(form.old_password, tabindex=230) }}
	{% endif %}

	{{ render_field(form.password, tabindex=230, hint=_("Must be at least 12 characters long.")) }}
	{{ render_field(form.password2, tabindex=240) }}

	{{ render_submit_field(form.submit, tabindex=280) }}
</form>

{% endblock %}
