{% extends "base.html" %}

{% block title %}
{{ _("Create Account") }}
{% endblock %}

{% block content %}
	<h1>{{ self.title() }}</h1>

	<h2>{{ _("Do you have an account on the Luanti Forums?") }}</h2>

	<p>
		{{ _("ContentDB will link your account to your forum account if you have one, but you don't need one.") }}
	</p>

	<p class="mt-5">
		<a class="btn btn-primary me-3" href="{{ url_for('users.claim_forums') }}">
			{{ _("<b>Yes</b>, I have a forums account") }}
		</a>
		<a class="btn btn-primary me-3" href="{{ url_for('users.register') }}">
			{{ _("<b>No</b>, I don't have one") }}
		</a>
		<a class="btn btn-secondary" href="https://forum.luanti.org/ucp.php?mode=register">
			{{ _("Create forum account") }}
		</a>
	</p>
{% endblock %}
