{% extends "base.html" %}

{% block title %}
{{ _("Check Your Email") }}
{% endblock %}

{% block content %}
<h1>{{ self.title() }}</h1>

<p>
	{{ _("We've sent an email to the address you specified.") }}
	{{ _("You'll need to click the link in the email to confirm it.") }}</p>

<p>
	<strong>
		{{ _("The link will expire in 12 hours") }}
	</strong>
</p>

<p>
	<a class="btn btn-secondary" href="/help/faq/#my-verification-email-never-arrived">
		{{ _("My email never arrived") }}
	</a>
</p>
{% endblock %}
