{% extends "base.html" %}

{% block title %}
{{ _("Request Password Reset") }}
{% endblock %}

{% block content %}
{% from "macros/forms.html" import render_field, render_checkbox_field, render_submit_field %}

<div class="card">
	<h2 class="card-header">{{ self.title() }}</h2>

	<form action="" method="POST" class="form card-body" role="form">
		{{ form.hidden_tag() }}

		{{ render_field(form.email) }}
		<p>
			{{ render_submit_field(form.submit, tabindex=180) }}
		</p>
	</form>
</div>

{% endblock %}
