{% extends "base.html" %}

{% block title %}
	{{ _("Users") }}
{% endblock %}

{% block content %}
<h1>{{ _("Users") }}</h1>

<div class="userlist list-group">
	<div class="list-group-item">
		<div class="row text-muted">
			<div class="col-sm-2">
				{{ _("Rank") }}
			</div>

			<span class="col-sm">
				{{ _("Username") }}
			</span>

			<div class="col-sm-1 text-center">
				{{ _("Packages") }}
			</div>
		</div>
	</div>

	{% for pair in users %}
		{% set user = pair[0] %}
		{% set count_pkgs = pair[1] %}

		<a class="list-group-item list-group-item-action" href="{{ url_for('users.profile', username=user.username) }}">
			<div class="row">
				<div class="col-sm-2 {{ user.rank }}"
						title="{{ _('Rank: %(rank)s.', rank=user.rank.get_title()) }}">
					{% if user.rank == user.rank.ADMIN %}
						<i class="fas fa-user-cog me-2"></i>
					{% elif user.rank == user.rank.MODERATOR %}
						<i class="fas fa-user-shield me-2"></i>
					{% elif user.rank == user.rank.EDITOR %}
						<i class="fas fa-user-edit me-2"></i>
					{% elif user.rank == user.rank.APPROVER %}
						<i class="fas fa-user-check me-2"></i>
					{% elif user.rank == user.rank.BOT %}
						<i class="fas fa-robot me-2"></i>
					{% else %}
						<i class="fas fa-user me-2"></i>
					{% endif %}

					{{ user.rank.get_title() }}
				</div>

				<span class="col-sm {{ user.rank }}">
					{{ user.display_name }}
					{% if user.username != user.display_name %}
						<span class="text-muted small ms-2">
							({{ user.username }})
						</span>
					{% endif %}
				</span>

				<div class="col-sm-1 text-center">
					<b>{{ count_pkgs }}</b>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
{% endblock %}
