{% extends "users/settings_base.html" %}

{% block title %}
	{{ _("Edit Profile - %(username)s", username=user.username) }}
{% endblock %}

{% block pane %}
<h2 class="mt-0">{{ _("Edit Profile") }}</h2>

<h3>{{ _("Profile Picture") }}</h3>
<div class="row">
	<div class="col-md-2">
		{% if user.forums_username %}
			<a href="https://forum.minetest.net/ucp.php?i=profile&mode=avatar">
		{% elif user.email %}
			<a href="https://en.gravatar.com/">
		{% endif %}
		<img class="img-fluid user-photo img-thumbnail  img-thumbnail-1" src="{{ user.getProfilePicURL() }}">
		{% if user.forums_username or user.email %}
			</a>
		{% endif %}
	</div>
	<div class="col">
		{% if user.email %}
			<a class="btn btn-primary" href="https://en.gravatar.com/">
				Gravatar
			</a>
		{% else %}
			<a class="btn btn-primary disabled"
					data-toggle="tooltip" data-placement="bottom"
					title="Please add an email address to use Gravatar"
					style="pointer-events: all;">
				Gravatar
			</a>
		{% endif %}
	</div>
</div>

<h3>{{ _("Profile Information") }}</h3>

{% from "macros/forms.html" import render_field, render_field_prefix, render_submit_field %}
<form action="" method="POST" class="form" role="form">
	{{ form.hidden_tag() }}

	{% if user.checkPerm(current_user, "CHANGE_DISPLAY_NAME") %}
		{{ render_field(form.display_name, tabindex=230, hint=_("Pretending to be another user is grounds for a permanent ban")) }}
	{% endif %}

	{% if user.checkPerm(current_user, "CHANGE_PROFILE_URLS") %}
		{{ render_field(form.website_url, tabindex=232) }}
		{{ render_field(form.donate_url, tabindex=233) }}
	{% endif %}

	<p>
		{{ render_submit_field(form.submit, tabindex=280) }}
	</p>
</form>

{% endblock %}
