{% extends "base.html" %}

{% block title %}
	Set Password
{% endblock %}

{% block content %}
<h1>Set Password</h1>

{% from "macros/forms.html" import render_field, render_submit_field %}
<form action="" method="POST" class="form" role="form">
	<div class="row">
		<div class="col-sm-6 col-md-5 col-lg-4">
			{{ form.hidden_tag() }}

			{% if not current_user.email %}
				{{ render_field(form.email, tabindex=230) }}

				<p>
					Your email is needed to recover your account if you forget your
					password, and to optionally send notifications.
					Your email will never be shared to a third-party.
				</p>
			{% endif %}

			{{ render_field(form.password, tabindex=230) }}
			{{ render_field(form.password2, tabindex=240) }}

			{{ render_submit_field(form.submit, tabindex=280) }}
		</div>
	</div>
</form>

{% endblock %}
