{% extends "base.html" %}

{% block title %}
	Set Password
{% endblock %}

{% block content %}

{% if optional %}
	<div class="alert alert-primary">
		It is recommended that you set a password for your account.

		<a class="alert_right button" href="{{ url_for('homepage.home') }}">Skip</a>
	</div>
{% endif %}


<h1>Set Password</h1>

{% from "macros/forms.html" import render_field, render_submit_field %}
<form action="" method="POST" class="form" role="form">
	{{ form.hidden_tag() }}

	{% if not current_user.email %}
		{{ render_field(form.email, tabindex=230) }}

		<p>
			Your email is needed to recover your account if you forget your
			password, and to optionally send notifications.
			Your email will never be shared to a third-party.
		</p>
	{% endif %}

	{{ render_field(form.password, tabindex=230) }}
	{{ render_field(form.password2, tabindex=240) }}

	{{ render_submit_field(form.submit, tabindex=280) }}
</form>

{% endblock %}
