{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-3 mb-4">
		<div class="list-group">
			<a class="list-group-item list-group-item-action" href="{{ url_for('users.profile', username=user.username) }}">
				<span class="row m-0 p-0">
					<span class="col-auto m-0 p-0">
						<img class="img-fluid user-photo img-thumbnail img-thumbnail-1" src="{{ user.get_profile_pic_url() }}" alt="Profile picture"  style="max-height: 20px;">
					</span>
					<span class="col m-0 p-0 ps-2">
						{{ user.display_name }}
					</span>
				</span>
			</a>
			{% for item in tabs %}
				<a href="{{ item.url }}"
						class="list-group-item list-group-item-action {% if item.id == current_tab %}active{% endif %}">
					{{ item.title }}
				</a>
			{% endfor %}
		</div>
	</div>
	<div class="col">
		{% block pane %}
		{% endblock %}
	</div>
</div>
{% endblock %}
