{% extends "base.html" %}

{% block title %}
	{{ user.username }}
{% endblock %}

{% block content %}

{% if not current_user.is_authenticated and user.rank == user.rank.NOT_JOINED and user.forums_username %}
<div class="alert alert-info alert alert-info">
	<a class="float-right btn btn-default btn-sm"
		href="{{ url_for('user_claim_page', username=user.forums_username) }}">Claim</a>

	Is this you? Claim your account now!
</div>
{% endif %}

<div class="row mb-3">
	<div class="col-sm-6">
		<div class="card">
			<h2 class="card-header">{{ user.display_name }}</h2>
			<table class="table">
				<tr>
					<td>Rank:</td>
					<td>
						{{ user.rank.getTitle() }}
					</td>
				</tr>
				<tr>
					<td>Accounts:</td>
					<td>
						{% if user.forums_username %}
							<a href="https://forum.minetest.net/memberlist.php?mode=viewprofile&un={{ user.forums_username }}">
								Minetest Forum
							</a>
						{% elif user == current_user %}
							No forum account
						{% endif %}

						{% if (user.forums_username and user.github_username) or user == current_user %}
							|
						{% endif %}

						{% if user.github_username %}
							<a href="https://github.com/{{ user.github_username }}">GitHub</a>
						{% elif user == current_user %}
							<a href="{{ url_for('github_signin_page') }}">Link Github</a>
						{% endif %}

						{% if user == current_user %}
							&#x1f30e;
						{% endif %}
					</td>
				</tr>
				{% if user == current_user %}
					<tr>
						<td>Password:</td>
						<td>
							{% if user.password %}
								Set | <a href="{{ url_for('user.change_password') }}">Change</a>
							{% else %}
								Not set | <a href="{{ url_for('set_password_page') }}">Set</a>
							{% endif %}
						</td>
					</tr>
				{% endif %}
			</table>
		</div>

		<div class="row mt-4">
			<div class="col-md-2">
				<img class="img-responsive user-photo img-thumbnail  img-thumbnail-1" src="{{ (user.email or '') | gravatar }}">
			</div>
			<div class="col">
				<div class="card">
					<div class="card-header">
						Profile Picture
					</div>
					<div class="card-body">
						<p>ContentDB uses Gravatar for profile pictures</p>
						{% if user == current_user %}
							{% if user.email %}
								<a class="btn btn-primary" href="https://en.gravatar.com/">
									Gravatar
								</a>
							{% else %}
								<p>
									Please add an email to your profile.
								</p>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% if form %}
	{% from "macros/forms.html" import render_field, render_submit_field %}
	<div class="col-sm-6">
		<div class="card">
			<div class="card-header">Edit Details</div>
			<div class="card-body">
				<form action="" method="POST" class="form box-body" role="form">
					{{ form.hidden_tag() }}

					{% if user.checkPerm(current_user, "CHANGE_DNAME") %}
						{{ render_field(form.display_name, tabindex=230) }}
					{% endif %}

					{% if user.checkPerm(current_user, "CHANGE_EMAIL") %}
						{{ render_field(form.email, tabindex=240) }}
						<i>We'll send you an email to verify it if changed.</i>
					{% endif %}

					{% if user.checkPerm(current_user, "CHANGE_RANK") %}
						{{ render_field(form.rank, tabindex=250) }}
					{% endif %}

					{{ render_submit_field(form.submit, tabindex=280) }}
				</form>
			</div>
		</div>
	</div>
{% endif %}
</div>

{% from "macros/packagegridtile.html" import render_pkggrid %}
{{ render_pkggrid(packages, show_author=False) }}

{% if topics_to_add %}
	<div class="card mt-3">
		<a name="unadded-packages"></a>
		<h2 class="card-header">Unadded Packages</h2>

		<p class="card-body">
			List of your forum topics which do not have a matching package.
			Topics with a strikethrough have beened marked as discarded.
		</p>

		{% from "macros/topics.html" import render_topics_table %}
		{{ render_topics_table(topics_to_add, show_author=False, show_discard=True, current_user=current_user) }}
	</div>
{% endif %}

{% endblock %}


{% block scriptextra %}
	<script>
		var csrf_token = "{{ csrf_token() }}";
	</script>
	<script src="/static/topic_discard.js"></script>
{% endblock %}
