{% extends "base.html" %}

{% block title %}
	{{ _("Game Support for %(username)s", username=user.display_name) }}
{% endblock %}

{% block content %}
	<a class="btn btn-secondary float-right" href="/help/game_support/">{{ _("Help") }}</a>
	<h1 class="mb-5">{{ self.title() }}</h1>
	<p>
		{{ _("You should specify the games supported by your mods and texture packs.") }}
		{{ _("Specifying game support makes it easier for players to find your content.") }}
	</p>


	<div class="list-group mt-3 mb-5">
		{% for package in packages %}
			<div class="list-group-item">
				<div class="row">
					<div class="col-md-2 text-muted">
						<img
							class="img-fluid"
							style="max-height: 22px; max-width: 22px;"
							src="{{ package.getThumbnailOrPlaceholder() }}" />

						<span class="pl-2">
							{{ package.title }}
						</span>
					</div>
					<div class="col">
						{% set supported_games = package.getSortedSupportedGames() %}
						{% if supported_games %}
							{% for support in supported_games %}
								<a class="badge badge-secondary"
										href="{{ support.game.getURL('packages.view') }}">
									{{ _("%(title)s by %(display_name)s",
											title=support.game.title, display_name=support.game.author.display_name) }}
								</a>
							{% endfor %}
						{% else %}
							<span class="text-muted">
								<i>
									{{ _("None listed, assumed to support all games") }}
								</i>
							</span>
						{% endif %}
					</div>
					<div class="col-auto">
						<a class="btn btn-sm btn-primary" href="{{ package.getURL('packages.game_support') }}">Game Support</a>
						<a class="btn btn-sm btn-secondary" href="{{ package.getURL('packages.view') }}">Package</a>
					</div>
				</div>
			</div>
		{% else %}
			<p class="text-muted">{{ _("Nothing to do :)") }}</p>
		{% endfor %}
	</div>
{% endblock %}
