{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
	<h2>Awaiting Approval</h2>

	{% if canApproveNew and packages %}
		<h3>Packages</h3>
		<ul>
			{% for p in packages %}
				<li><a href="{{ p.getDetailsURL() }}">
					{{ p.title }} by {{ p.author.display_name }}
				</a></li>
			{% else %}
				<li><i>No packages need reviewing.</i></ul>
			{% endfor %}
		</ul>
	{% endif %}

	{% if canApproveScn and screenshots %}
		<h3>Screenshots</h3>
		<ul>
			{% for s in screenshots %}
				<li>
					<a href="{{ s.getEditURL() }}">{{ s.title }}</a>
					on
					<a href="{{ s.package.getDetailsURL() }}">
						{{ s.package.title }} by {{ s.package.author.display_name }}
					</a>
				</li>
			{% else %}
				<li><i>No screenshots need reviewing.</i></ul>
			{% endfor %}
		</ul>
	{% endif %}

	{% if canApproveRel and releases %}
		<h3>Releases</h3>
		<ul>
			{% for r in releases %}
				<li>
					<a href="{{ r.getEditURL() }}">{{ r.title }}</a>
					on
					<a href="{{ r.package.getDetailsURL() }}">
						{{ r.package.title }} by {{ r.package.author.display_name }}
					</a>
				</li>
			{% else %}
				<li><i>No releases need reviewing.</i></ul>
			{% endfor %}
		</ul>
	{% endif %}

	{% if not (packages or screenshots or releases) %}
		<p>
			<i>All done!</i>
		</p>
	{% endif %}

	<h2>Unadded Topic List</h2>

	<p>
		There are
		<a href="{{ url_for('todo_topics_page') }}">{{ topics_to_add }} packages</a>
		to be added to cdb, based on cdb's forum parser.
	</p>
{% endblock %}
