{% extends "base.html" %}

{% block title %}
Unfulfilled Meta Packages
{% endblock %}

{% block content %}
	<h1>Unfulfilled Meta Packages</h1>

	<p>
		Meta packages that have hard dependers, but are not fulfilled.
	</p>

	<div class="list-group">
		{% for meta in mpackages %}
			<a class="list-group-item list-group-item-action"
					href="{{ url_for('metapackages.view', name=meta.name) }}">
				{{ meta.name }}
			</a>
		{% else %}
			<li><i>No meta packages found.</i></li>
		{% endfor %}
	</div>
{% endblock %}
