{% extends "todo/todo_base.html" %}

{% block title %}
	{{ _("Missing Screenshots") }}
{% endblock %}

{% block content %}
	<div class="btn-toolbar float-end">
		<div class="btn-group btn-group-sm me-2">
			{% if is_mtm_only %}
				<a class="btn btn-sm btn-primary active" href="{{ url_set_query(mtm=0) }}">
					{{ _("Minetest-Mods org only") }}
				</a>
			{% else %}
				<a class="btn btn-sm btn-secondary" href="{{ url_set_query(mtm=1) }}">
					{{ _("Minetest-Mods org only") }}
				</a>
			{% endif %}
		</div>

		<div class="btn-group btn-group-sm">
			<a class="btn {% if sort_by == 'date' %}btn-primary active{% else %}btn-secondary{% endif %}"
					href="{{ url_set_query(sort='date') }}">
				{{ _("Sort by date") }}
			</a>
			<a class="btn {% if sort_by == 'score' %}btn-primary active{% else %}btn-secondary{% endif %}"
					href="{{ url_set_query(sort='score') }}">
				{{ _("Sort by score") }}
			</a>
		</div>
	</div>
	<p class="text-muted my-0">
		{{ _("%(count)d packages", count=packages | count) }}
	</p>
	<div class="clearfix mb-3"></div>

	{% from "macros/packagegridtile.html" import render_pkggrid %}
	{{ render_pkggrid(packages, current_user) }}
{% endblock %}
