{% extends "todo/todo_base.html" %}

{% block title %}
	{{ _("Package Tags") }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<form method="GET">
			<label for="q" class="sr-only">{{ _('Search all packages') }}</label>
			<div class="input-group">
				<input class="form-control" id="q" name="q" type="text" placeholder="{{ _('Search all packages') }}">
				<div class="input-group-append">
					<input class="btn btn-primary" type="submit" value="{{ _('Search') }}">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6 text-right">
		{% if only_no_tags %}
			<a class="btn btn-primary" href="{{ url_set_query(no_tags=0) }}">
				{{ _("Missing tags only") }}
			</a>
		{% else %}
			<a class="btn btn-secondary" href="{{ url_set_query(no_tags=1) }}">
				{{ _("Missing tags only") }}
			</a>
		{% endif %}
		{% if check_global_perm(current_user, "EDIT_TAGS") %}
			<a class="btn btn-secondary ml-2" href="{{ url_for('admin.tag_list') }}">{{ _("Edit Tags") }}</a>
		{% endif %}
	</div>
</div>

<table class="table mt-5">
	<tr>
		<th>{{ _("Package") }}</th>
		<th></th>
		<th>{{ _("Tags") }}</th>
	</tr>
	{% for package in packages %}
		<tr>
			<td>
				<a href="{{ package.getURL("packages.view") }}">
					{{ package.title }}
				</a>

				by {{ package.author.display_name }}
			</td>
			<td class="text-center">
				{% if package.checkPerm(current_user, "EDIT_PACKAGE") %}
					<a class="btn btn-link btn-sm py-0" href="{{ package.getURL("packages.create_edit") }}">
						<i class="fas fa-pen"></i>
					</a>
				{% endif %}
			</td>
			<td class="tags">
				{% for tag in package.tags %}
					<a class="badge badge-primary mr-1"
							href="{{ url_set_query(_add={ 'tag': tag.name }) }}">
						{{ tag.title }}
					</a>
				{% endfor %}
				<!-- <a class="badge badge-secondary add-btn px-2" href="#">
					<i class="fas fa-plus"></i>
				</a> -->
			</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
{% endblock %}
