{% extends "base.html" %}

{% block container %}
	{% if current_user.rank.at_least(current_user.rank.APPROVER) %}
		<nav class="pt-4 tabs-container">
			<div class="container">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link {% if current_tab == 'user' %}active{% endif %}"
								href="{{ url_for('todo.view_user', username=current_user.username) }}">
							{{ _("Your to do list") }}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if current_tab == 'editor' %}active{% endif %}"
								href="{{ url_for('todo.view_editor') }}">
							{{ _("Editor Work Queue") }}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if current_tab == 'outdated' %}active{% endif %}"
								href="{{ url_for('todo.outdated') }}">
							{{ _("Outdated Packages") }}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if current_tab == 'tags' %}active{% endif %}"
								href="{{ url_for('todo.tags') }}">
							{{ _("Package Tags") }}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if current_tab == 'screenshots' %}active{% endif %}"
								href="{{ url_for('todo.screenshots') }}">
							{{ _("Missing Screenshots") }}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if current_tab == 'topics' %}active{% endif %}"
								href="{{ url_for('todo.topics') }}">
							{{ _("Forum Topics") }}
						</a>
					</li>
				</ul>
			</div>
		</nav>
	{% endif %}

	<main class="container mt-5">
		{% if not current_user.rank.at_least(current_user.rank.APPROVER) %}
			<h1 class="mb-5">{{ self.title() }}</h1>
		{% endif %}

		{{ self.content() }}
	</main>
{% endblock %}
