{% extends "todo/todo_base.html" %}

{% block title %}
	{{ _("%(username)s's to do list", username=user.display_name) }}
{% endblock %}

{% block content %}
	<h2>{{ _("Unapproved Packages Needing Action") }}</h2>
	<div class="list-group mt-3 mb-5">
		{% for package in unapproved_packages %}
			<a class="list-group-item list-group-item-action" href="{{ package.getDetailsURL() }}">
				<div class="row">
					<div class="col-sm-2 text-muted">
						<img
							class="img-fluid"
							style="max-height: 22px; max-width: 22px;"
							src="{{ package.getThumbnailOrPlaceholder() }}" />

						<span class="pl-2">
							{{ package.title }}
						</span>
					</div>

					<div class="col-sm">
						State: {{ package.state.value }}
					</div>
				</div>
			</a>
		{% else %}
			<p class="text-muted">{{ _("Nothing to do :)") }}</p>
		{% endfor %}
	</div>

	<a class="btn btn-secondary float-right" href="/help/update_config/">Help</a>
	<a class="btn btn-secondary float-right mr-2" href="{{ url_for('packages.bulk_update_config', username=user.username) }}">See all Update Settings</a>
	{% if outdated_packages %}
		<form class="float-right mr-2"  method="post" action="{{ url_for('todo.apply_all_updates', username=user.username) }}">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<input class="btn btn-primary" type="submit" value="{{ _("Create All Releases") }}" />
		</form>
	{% endif %}
	<h2>{{ _("Potentially Outdated Packages") }}</h2>
	<p class="alert alert-info">
		{{ _("New: Git Update Detection has been set up on all packages to send notifications.") }}<br />
		{{ _("Consider changing the update settings to create releases automatically instead.") }}
	</p>
	<p>
		{{ _("Instead of marking packages as outdated, you can automatically create releases when New Commits or New Tags are pushed to Git by clicking 'Update Settings'.") }}
		{% if outdated_packages %}
			{{ _("To remove a package from below, create a release or change the update settings.") }}
		{% endif %}
	</p>

	{% from "macros/todo.html" import render_outdated_packages %}
	{{ render_outdated_packages(outdated_packages, current_user) }}

	<div class="mt-5"></div>
	<a class="btn btn-secondary float-right" href="{{ url_for('todo.tags', author=user.username) }}">See All</a>
	<h2>{{ _("Packages Without Tags") }}</h2>
	<p>
		Labelling your packages with tags helps users find them.
	</p>
	<div class="list-group mt-3 mb-5">
		{% for package in needs_tags %}
			<a class="list-group-item list-group-item-action" href="{{ package.getDetailsURL() }}">
				<img
					class="img-fluid"
					style="max-height: 22px; max-width: 22px;"
					src="{{ package.getThumbnailOrPlaceholder() }}" />

				<span class="pl-2">
					{{ package.title }}
				</span>
			</a>
		{% else %}
			<p class="text-muted">{{ _("Nothing to do :)") }}</p>
		{% endfor %}
	</div>


	<h2 class="mt-5">{{ _("Unadded Topics") }}</h2>
	{% if topics_to_add %}
		<p>
			List of your forum topics which do not have a matching package.
			Topics with a strikethrough have been marked as discarded.
		</p>

		<div style="max-height: 20em; overflow-y: auto">
			{% from "macros/topics.html" import render_topics_table %}
			{{ render_topics_table(topics_to_add, show_author=False, show_discard=True, current_user=current_user) }}
		</div>
	{% else %}
		<p class="card-body">Congrats! You don't have any topics which aren't on CDB.</p>
	{% endif %}
{% endblock %}


{% block scriptextra %}
	<script>
		const csrf_token = "{{ csrf_token() }}";
	</script>
	<script src="/static/topic_discard.js"></script>
{% endblock %}
