{% extends "todo/todo_base.html" %}

{% block title %}
	{{ _("%(username)s's to do list", username=user.display_name) }}
{% endblock %}

{% block content %}
	<h2>{{ _("Unapproved Packages Needing Action") }}</h2>
	<div class="list-group mt-3">
		{% for package in unapproved_packages %}
			<a class="list-group-item list-group-item-action" href="{{ package.getDetailsURL() }}">
				<div class="row">
					{% if package %}
						<div class="col-sm-2 text-muted">
							<img
								class="img-fluid"
								style="max-height: 22px; max-width: 22px;"
								src="{{ package.getThumbnailURL(1) }}" />

							<span class="pl-2">
								{{ package.title }}
							</span>
						</div>
					{% endif %}

					<div class="col-sm">
						State: {{ package.state.value }}
					</div>
				</div>
			</a>
		{% else %}
			<p class="list-group-item"><i>No outdated packages.</i></p>
		{% endfor %}
	</div>


	<h2 class="mt-5">{{ _("Outdated Packages") }}</h2>
	{% from "macros/todo.html" import render_outdated_packages %}
	{{ render_outdated_packages(outdated_packages) }}


	<h2 class="mt-5">{{ _("Unadded Topics") }}</h2>
	{% if topics_to_add %}
		<p>
			List of your forum topics which do not have a matching package.
			Topics with a strikethrough have been marked as discarded.
		</p>

		<div style="max-height: 20em; overflow-y: auto">
			{% from "macros/topics.html" import render_topics_table %}
			{{ render_topics_table(topics_to_add, show_author=False, show_discard=True, current_user=current_user) }}
		</div>
	{% else %}
		<p class="card-body">Congrats! You don't have any topics which aren't on CDB.</p>
	{% endif %}
{% endblock %}


{% block scriptextra %}
	<script>
		const csrf_token = "{{ csrf_token() }}";
	</script>
	<script src="/static/topic_discard.js"></script>
{% endblock %}
