{% extends "base.html" %}

{% block title %}
Notifications
{% endblock %}

{% block content %}
	{% if current_user.notifications %}
		<form method="post" action="{{ url_for('notifications.clear') }}" class="float-right">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<input type="submit" class="btn btn-primary" value="Clear All" />
		</form>
	{% endif %}

	<h1>Notifications</h1>

	<div class="list-group mt-3">
		{% for n in current_user.notifications %}
			<a class="list-group-item list-group-item-action" href="{{ n.url }}">
				<div class="row">
					<div class="col-sm-auto">
						{{ n.title}}
					</div>

					<div class="col-sm text-muted text-right">
						<img
							class="img-responsive user-photo img-thumbnail img-thumbnail-1"
							style="max-height: 22px;"
							src="{{ n.causer.getProfilePicURL() }}" />
						<span class="pl-1">{{ n.causer.display_name }}</span>
					</div>
				</div>
			</a>
		{% else %}
			<p class="list-group-item"><i>No notifications</i></p>
		{% endfor %}
	</ul>
{% endblock %}
