{% extends "base.html" %}

{% block title %}
{{ mpackage.name }} - {{ _("Meta Packages") }}
{% endblock %}

{% from "macros/packagegridtile.html" import render_pkggrid %}

{% block content %}
	<h1>{{ _("Meta Package \"%(name)s\"", name=mpackage.name) }}</h1>

	<h2>{{ _("Provided By") }}</h2>

	<h3>{{ _("Games") }}</h3>
	{{ render_pkggrid(mpackage.packages.filter_by(type="GAME", state="APPROVED").all()) }}

	<h3>{{ _("Mods") }}</h3>
	{{ render_pkggrid(mpackage.packages.filter_by(type="MOD", state="APPROVED").all()) }}

	{% if similar_topics %}
		<h3>{{ _("Forum Topics") }}</h3>
		<ul>
			{% for t in similar_topics %}
				<li>
					[{{ t.type.text }}]
					<a href="https://forum.minetest.net/viewtopic.php?t={{ t.topic_id }}">
						{{ _("%(title)s by %(display_name)s", title=t.title, display_name=t.author.display_name) }}
					</a>
					{% if t.wip %}[{{ _("WIP") }}]{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	<h2>{{ _("Required By") }}</h2>
	{{ render_pkggrid(dependers) }}

	<h2>{{ _("Optionally Used By") }}</h2>
	{{ render_pkggrid(optional_dependers) }}
{% endblock %}
