{% extends "base.html" %}

{% block title %}
	{% if version %}
		Edit {{ version.name }}
	{% else %}
		New Minetest Version
	{% endif %}
{% endblock %}

{% block content %}
	<a class="btn btn-primary float-end" href="{{ url_for('admin.create_edit_version') }}">New Version</a>
	<a class="btn btn-secondary mb-4" href="{{ url_for('admin.version_list') }}">Back to list</a>

	{% from "macros/forms.html" import render_field, render_submit_field %}
	<form method="POST" action="" enctype="multipart/form-data">
		{{ form.hidden_tag() }}

		{{ render_field(form.name) }}
		{{ render_field(form.protocol) }}
		{{ render_submit_field(form.submit) }}
	</form>
{% endblock %}
