{% extends "base.html" %}

{% block title %}
{{ _("Minetest Versions") }}
{% endblock %}

{% block content %}
	<a class="btn btn-primary float-end" href="{{ url_for('admin.create_edit_version') }}">{{ _("New Version") }}</a>

	<h1>{{ _("Minetest Versions") }}</h1>

	<div class="list-group">
		{% for v in versions %}
			<a class="list-group-item list-group-item-action"
					href="{{ url_for('admin.create_edit_version', name=v.name) }}">
				{{ v.name }}
			</a>
		{% endfor %}
	</div>
{% endblock %}
