{% extends "base.html" %}

{% block title %}
	Admin Tools
{% endblock %}

{% block content %}
	<ul>
		<li><a href="{{ url_for('user_list_page') }}">User list</a></li>
		<li><a href="{{ url_for('tag_list_page') }}">Tag Editor</a></li>
		<li><a href="{{ url_for('switch_user_page') }}">Sign in as another user</a></li>
	</ul>

	<div class="box box_grey">
		<h2>Do action</h2>

		<form method="post" action="" class="box-body">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<select name="action">
				<option value="importusers">Create users from mod list</option>
				<option value="importscreenshots" selected>Import screenshots from VCS</option>
				<option value="importdepends">Import dependencies from downloads</option>
				<option value="modprovides">Set provides to mod name</option>
			</select>
			<input type="submit" value="Perform" />
		</form>
	</div>

	<div class="box box_grey">
		<h2>Restore Package</h2>

		<form method="post" action="" class="box-body">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<input type="hidden" name="action" value="restore" />
			<select name="package">
				{% for p in deleted_packages %}
					<option value={{ p.id }}>{{ p.id}}) {{ p.title }} by {{ p.author.display_name }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Restore" />
		</form>
	</div>
{% endblock %}
