{% extends "base.html" %}

{% block title %}
	Admin Tools
{% endblock %}

{% block content %}
	<ul>
		<li><a href="{{ url_for('users.list_all') }}">User list</a></li>
		<li><a href="{{ url_for('admin.tag_list') }}">Tag Editor</a></li>
		<li><a href="{{ url_for('admin.license_list') }}">License Editor</a></li>
		<li><a href="{{ url_for('admin.version_list') }}">Version Editor</a></li>
		<li><a href="{{ url_for('admin.switch_user') }}">Sign in as another user</a></li>
	</ul>

	<div class="card my-4">
		<h2 class="card-header">Do action</h2>

		<form method="post" action="" class="card-body">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<select name="action">
				<option value="delstuckreleases" selected>Delete stuck releases</option>
				<option value="checkreleases">Validate all Zip releases</option>
				<option value="reimportpackages">Reimport meta</option>
				<option value="importmodlist">Import forum topics</option>
				<option value="recalcscores">Recalculate package scores</option>
				<option value="checkusers">Check forum users</option>
				<option value="importscreenshots">Import screenshots from VCS</option>
				<option value="cleanuploads">Delete unreachable uploads</option>
				<!-- <option value="importdepends">Import dependencies from downloads</option> -->
				<!-- <option value="modprovides">Set provides to mod name</option> -->
				<!-- <option value="vcsrelease">Create VCS releases</option> -->
			</select>
			<input type="submit" value="Perform" />
		</form>
	</div>

	<div class="card my-4">
		<h2 class="card-header">Restore Package</h2>

		<form method="post" action="" class="card-body">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<input type="hidden" name="action" value="restore" />
			<select name="package">
				{% for p in deleted_packages %}
					<option value={{ p.id }}>{{ p.id}}) {{ p.title }} by {{ p.author.display_name }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Restore" />
		</form>
	</div>
{% endblock %}
