{% extends "base.html" %}

{% block title %}
	Restore
{% endblock %}

{% block content %}
	<div class="card w-50">
		<h2 class="card-header">Restore Package</h2>

		<form method="post" action="" class="card-body">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<div class="">
				<select name="package" class="form-select px-3" required>
					<option disabled selected>-- please select --</option>
					{% for p in deleted_packages %}
						<option value="{{ p.id }}">
							{{ p.author.username }} / {{ p.name }}&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;id={{ p.id }}
						</option>
					{% endfor %}
				</select>
				<div class="mt-3">
					<input type="submit" name="submit" value="To Draft" class="col-sm-auto btn btn-warning" />
					<input type="submit" name="submit" value="To Changes Needed" class="col-sm-auto btn btn-danger ms-2" />
					<input type="submit" name="submit" value="To Ready for Review" class="col-sm-auto btn btn-success ms-2" />
				</div>
			</div>
		</form>
	</div>
{% endblock %}
