{% extends "base.html" %}

{% block title %}
	{{  _("Send bulk email") }}
{% endblock %}

{% block content %}
<h1>{{ self.title() }}</h1>

<p class="alert alert-danger">
	<b>BE VERY CAREFUL.</b>
	This will email all users with email addresses.
</p>

{% from "macros/forms.html" import render_field, render_submit_field %}
<form action="" method="POST" class="form" role="form">
	{{ form.hidden_tag() }}
	{{ render_field(form.subject) }}
	{{ render_field(form.text, fieldclass="form-control markdown") }}
	{{ render_submit_field(form.submit) }}
</form>

{% endblock %}
