{% macro render_field(field, label=None, label_visible=true, right_url=None, right_label=None) -%}
	<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
		{% if field.type != 'HiddenField' and label_visible %}
			{% if not label %}{% set label=field.label.text %}{% endif %}
			<label for="{{ field.id }}" class="control-label">{{ label|safe }}</label>
		{% endif %}
		{{ field(class_='form-control', **kwargs) }}
		{% if field.errors %}
			{% for e in field.errors %}
				<p class="help-block">{{ e }}</p>
			{% endfor %}
		{% endif %}
	</div>
{%- endmacro %}

{% macro form_includes() -%}
	<link href="/static/jquery-ui.min.css" rel="stylesheet" type="text/css">
	<script src="/static/jquery.min.js"></script>
	<script src="/static/jquery-ui.min.js"></script>
	<script src="/static/tagselector.js"></script>
{% endmacro %}

{% macro package_lists() -%}
	<script>
		meta_packages = [
			{% for m in mpackages %}
				{# This is safe as name can only contain `[a-z0-9_]` #}
				{
					id: "{{ m.name }}",
					value: "{{ m.name }}",
					toString: function() { return "{{ m.name }}"; },
				},
			{% endfor %}
		]

		function escape(unsafe) {
			return unsafe
				.replace(/&/g, "&amp;")
				.replace(/</g, "&lt;")
				.replace(/>/g, "&gt;")
				.replace(/"/g, "&quot;")
				.replace(/'/g, "&#039;");
		}

		all_packages = meta_packages.slice();

		{% for p in packages %}
			all_packages.push({
				id: "{{ p.author.username }}/{{ p.name }}",
				value: escape({{ p.title | tojson }} + " by " + {{ p.author.display_name | tojson }}),
				toString: function() { return  escape({{ p.title | tojson }} + " by " + {{ p.author.display_name | tojson }} + " only"); },
			});
		{% endfor %}
	</script>
{% endmacro %}

{% macro render_multiselect_field(field, label=None, label_visible=true, right_url=None, right_label=None) -%}
	<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
		{% if field.type != 'HiddenField' and label_visible %}
			{% if not label %}{% set label=field.label.text %}{% endif %}
			<label for="{{ field.id }}" class="control-label">{{ label|safe }}</label>
		{% endif %}
		<div class="multichoice_selector bulletselector">
			<input type="text" placeholder="Start typing to see suggestions">
			<div class="clearboth"></div>
		</div>
		{{ field(class_='form-control', **kwargs) }}
		{% if field.errors %}
			{% for e in field.errors %}
				<p class="help-block">{{ e }}</p>
			{% endfor %}
		{% endif %}
	</div>
{% endmacro %}

{% macro render_mpackage_field(field, label=None, label_visible=true, right_url=None, right_label=None) -%}
	<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
		{% if field.type != 'HiddenField' and label_visible %}
			{% if not label %}{% set label=field.label.text %}{% endif %}
			<label for="{{ field.id }}" class="control-label">{{ label|safe }}</label>
		{% endif %}
		<div class="metapackage_selector bulletselector">
			<input type="text" placeholder="Comma-seperated values">
			<div class="clearboth"></div>
		</div>
		{{ field(class_='form-control', **kwargs) }}
		{% if field.errors %}
			{% for e in field.errors %}
				<p class="help-block">{{ e }}</p>
			{% endfor %}
		{% endif %}
	</div>
{% endmacro %}

{% macro render_deps_field(field, label=None, label_visible=true, right_url=None, right_label=None) -%}
	<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
		{% if field.type != 'HiddenField' and label_visible %}
			{% if not label %}{% set label=field.label.text %}{% endif %}
			<label for="{{ field.id }}" class="control-label">{{ label|safe }}</label>
		{% endif %}
		<div class="deps_selector bulletselector">
			<input type="text" placeholder="Comma-seperated values">
			<div class="clearboth"></div>
		</div>
		{{ field(class_='form-control', **kwargs) }}
		{% if field.errors %}
			{% for e in field.errors %}
				<p class="help-block">{{ e }}</p>
			{% endfor %}
		{% endif %}
	</div>
{% endmacro %}

{% macro render_checkbox_field(field, label=None) -%}
	{% if not label %}{% set label=field.label.text %}{% endif %}
	<div class="checkbox">
		<label>
			{{ field(type='checkbox', **kwargs) }} {{ label }}
		</label>
	</div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
	{% for value, label, checked in field.iter_choices() %}
		<div class="radio">
			<label>
				<input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}"{% if checked %} checked{% endif %}>
				{{ label }}
			</label>
		</div>
	{% endfor %}
{%- endmacro %}

{% macro render_submit_field(field, label=None, tabindex=None) -%}
	{% if not label %}{% set label=field.label.text %}{% endif %}
	{#<button type="submit" class="form-control btn btn-default btn-primary">{{label}}</button>#}
	<input type="submit" value="{{label}}"
		   {% if tabindex %}tabindex="{{ tabindex }}"{% endif %}
		   >
{%- endmacro %}
