{% macro render_thread(thread, current_user) -%}
	<ul class="comments">
		{% for r in thread.replies %}
			<li>
				<div class="info_strip">
					<a class="author {{ r.author.rank.name }}"
							href="{{ url_for('user_profile_page', username=r.author.username) }}">
						{{ r.author.display_name }}</a>
					<span>{{ r.created_at | datetime }}</span>
					<div class="clearboth"></div>
				</div>
				<div class="msg">
					{{ r.comment | markdown }}
				</div>
			</li>
		{% endfor %}
	</ul>

	{% if current_user.is_authenticated %}
		<form method="post" action="{{ url_for('thread_page', id=thread.id)}}" class="comment_form">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<textarea required maxlength=500 name="comment" placeholder="Markdown supported"></textarea><br />
			<input type="submit" value="Comment" />
		</form>
	{% endif %}
{% endmacro %}

{% macro render_threadlist(threads) -%}
	<ul>
		{% for t in threads %}
			<li><a href="{{ url_for('thread_page', id=t.id) }}">{{ t.title }}</a> by {{ t.author.display_name }}</li>
		{% else %}
			<li><i>No threads found</i></li>
		{% endfor %}
	</ul>
{% endmacro %}
