{% macro render_reply(r, thread, current_user) -%}
	{% from "macros/reviews.html" import render_review_vote %}

	<li class="row my-2 mx-0">
		<div class="col-md-1 p-1">
			<a href="{{ url_for('users.profile', username=r.author.username) }}">
				<img class="img-fluid user-photo img-thumbnail img-thumbnail-1" src="{{ r.author.getProfilePicURL() }}">
			</a>
		</div>
		<div class="col pr-0">
			<div class="card">
				<div class="card-header">
					<a class="author {{ r.author.rank.name }} mr-3"
							href="{{ url_for('users.profile', username=r.author.username) }}">
						{{ r.author.display_name }}
					</a>

					{% if r.author.username != r.author.display_name %}
						<span class="text-muted small mr-2">
							({{ r.author.username }})
						</span>
					{% endif %}

					{% if r.author in thread.package.maintainers %}
						<span class="badge badge-dark">
							{{ _("Maintainer") }}
						</span>
					{% endif %}
					{% if r.author.rank == r.author.rank.BOT %}
						<span class="badge badge-dark">
							{{ r.author.rank.getTitle() }}
						</span>
					{% endif %}

					<a name="reply-{{ r.id }}" class="text-muted float-right"
							href="{{ r.get_url() }}">
						{{ r.created_at | datetime }}
					</a>
				</div>

				<div class="card-body markdown">
					{% if r.checkPerm(current_user, "DELETE_REPLY") %}
						<a class="float-right btn btn-secondary btn-sm ml-2"
								href="{{ url_for('threads.delete_reply', id=thread.id, reply=r.id) }}">
							<i class="fas fa-trash"></i>
						</a>
					{% endif %}
					{% if current_user != r.author %}
						<a class="float-right btn-secondary btn-sm ml-2"
								title="{{ _('Report') }}"
								href="{{ url_for('report.report', url=r.get_url()) }}">
							<i class="fas fa-flag mr-1"></i>
						</a>
					{% endif %}

					{% if current_user == thread.author and thread.review and thread.replies[0] == r %}
						<a class="float-right btn btn-primary btn-sm ml-2"
								href="{{ thread.review.package.getURL('packages.review') }}">
							<i class="fas fa-pen"></i>
						</a>
					{% elif r.checkPerm(current_user, "EDIT_REPLY") %}
						<a class="float-right btn btn-primary btn-sm ml-2"
								href="{{ url_for('threads.edit_reply', id=thread.id, reply=r.id) }}">
							<i class="fas fa-pen"></i>
						</a>
					{% endif %}

					{{ r.comment | markdown }}

					{% if thread.replies[0] == r and thread.review %}
						{{ render_review_vote(thread.review, current_user, thread.getViewURL()) }}
					{% endif %}
				</div>
			</div>
		</div>
	</li>
{% endmacro %}


{% macro render_status_update(r, thread, current_user) -%}
	<li class="row my-2 mx-0 align-items-center">
		<div class="col-md-1 p-1">
			<a href="{{ url_for('users.profile', username=r.author.username) }}">
				<img class="img-fluid user-photo img-thumbnail img-thumbnail-1" src="{{ r.author.getProfilePicURL() }}">
			</a>
		</div>
		<div class="col-auto">
			<a class="author {{ r.author.rank.name }}"
					href="{{ url_for('users.profile', username=r.author.username) }}">
				{{ r.author.display_name }}
			</a>
		</div>
		<div class="col pr-0 status-update">
			{{ r.comment | markdown }}
		</div>
		<div class="col-auto">
			<a name="reply-{{ r.id }}" class="text-muted float-right"
					href="{{ r.get_url() }}">
				{{ r.created_at | datetime }}
			</a>
		</div>
	</li>
{% endmacro %}


{% macro render_thread(thread, current_user, form=None) -%}
<ul class="comments mt-4 mb-0">
	{% for r in thread.replies %}
		{% if r.is_status_update %}
			{{ render_status_update(r, thread, current_user) }}
		{% else %}
			{{ render_reply(r, thread, current_user) }}
		{% endif %}
	{% endfor %}
</ul>

{% if thread.locked %}
	<p class="my-0 py-4 text-center">
		<i class="fas fa-lock mr-3"></i>
		{{ _("This thread has been locked by a moderator.") }}
	</p>
{% endif %}

{% if current_user.is_authenticated %}
<div class="row mt-0 mb-4 comments mx-0">
	<div class="col-md-1 p-1">
		<img class="img-fluid user-photo img-thumbnail img-thumbnail-1"
			 src="{{ current_user.getProfilePicURL() }}">
	</div>
	<div class="col pr-0">
		<div class="card">
			<div class="card-header {{ current_user.rank.name }}">
				{{ current_user.display_name }}
				<a name="reply"></a>
			</div>

			{% if not current_user.canCommentRL() %}
				<div class="card-body">
					<textarea class="form-control" readonly disabled>{{ _("Please wait before commenting again.") }}</textarea><br />
					<input class="btn btn-primary" type="submit" disabled value="Comment" />
				</div>
			{% elif not thread.checkPerm(current_user, "COMMENT_THREAD") %}
				<div class="card-body">
					{% if thread.locked %}
						<textarea class="form-control" readonly disabled>{{ _("This thread has been locked.") }}</textarea><br />
					{% else %}
						<textarea class="form-control" readonly disabled>{{ _("You don't have permission to post.") }}</textarea><br />
					{% endif %}
					<input class="btn btn-primary" type="submit" disabled value="Comment" />
				</div>
			{% elif form %}
				{% from "macros/forms.html" import render_field, render_submit_field %}
				<form method="post" action="{{ url_for('threads.view', id=thread.id)}}" class="card-body">
					{{ form.hidden_tag() }}
					{{ render_field(form.comment, fieldclass="form-control markdown", label="") }}
					{{ render_submit_field(form.submit) }}
				</form>
			{% else %}
				<form method="post" action="{{ url_for('threads.view', id=thread.id)}}" class="card-body">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
					<textarea class="form-control markdown" required maxlength=2000 name="comment"></textarea><br />
					<input class="btn btn-primary" type="submit" value="Comment" />
				</form>
			{% endif %}
			{% if thread.private %}
				<p class="text-muted card-body my-0 pt-0">
					{{ _("You can add someone to a private thread by writing @username.") }}
				</p>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
{% endmacro %}

{% macro render_compact_threadlist(threads) -%}
	{% for t in threads %}
		<a class="list-group-item list-group-item-action"
				href="{{ url_for('threads.view', id=t.id) }}">
			{% if t.private %}&#x1f512; {% endif %}
			<strong>{{ t.title }}</strong>
			by {{ t.author.display_name }}
		</a>
	{% else %}
		<p class="list-group-item"><i>{{ _("No threads found") }}</i></p>
	{% endfor %}
{% endmacro %}

{% macro render_threadlist(threads) -%}
	<div class="list-group-item">
		<div class="row text-muted">
			<span class="col-md">
				{{ _("Thread") }}
			</span>

			<span class="col-md-3">
				{{ _("Last Reply") }}
			</span>

			<span class="col-md-2"></span>
		</div>
	</div>

	{% for t in threads %}
		{% set replies = t.replies.count() - 1 %}

		<a class="list-group-item list-group-item-action"
				href="{{ url_for('threads.view', id=t.id) }}">
			<div class="row">
				<div class="col-md">
					{% if not t.review and t.private %}
						<i class="fas fa-lock" style="color:#ffac33;"></i>
					{% elif not t.review %}
						<i class="fas fa-comment-alt" style="color:#666;"></i>
					{% elif t.review.recommends %}
						<i class="fas fa-thumbs-up" style="color:#6f6;"></i>
					{% else %}
						<i class="fas fa-thumbs-down" style="color:#f66;"></i>
					{% endif %}
					<strong class="ml-1">
						{{ t.title }}
					</strong><br />
					<span>
						{{ t.author.display_name }}
					</span>
					<span class="text-muted ml-3">
						{{ t.created_at | datetime }}
					</span>
				</div>

				{% if replies > 0 %}
					<span class="col-md-auto text-muted">
						{{ replies }}
						<i class="fas fa-comment ml-1"></i>
					</span>
				{% endif %}

				<div class="col-md-3">
					{% if replies > 0 %}
						{% set latest = t.get_latest_reply() %}
						<span>
							{{ latest.author.display_name }}
						</span><br />
						<span class="text-muted">
							{{ latest.created_at | datetime }}
						</span>
					{% endif %}
				</div>

				<div class="col-md-2 text-muted text-right">
					{% if t.package %}
						<img
							class="img-fluid"
							style="max-height: 22px; max-width: 22px;"
							src="{{ t.package.getThumbnailOrPlaceholder() }}" /><br />

						<span class="pl-2">
							{{ t.package.title }}
						</span>
					{% endif %}
				</div>
			</div>
		</a>
	{% else %}
		<p class="list-group-item"><i>{{ _("No threads found") }}</i></p>
	{% endfor %}
{% endmacro %}
