{% macro render_topics_table(topics, show_author=True, show_discard=False, current_user=current_user) -%}
<table class="table">
	<tr>
		<th></th>
		<th>Title</th>
		{% if show_author %}<th>Author</th>{% endif %}
		<th>Name</th>
		<th>Date</th>
		<th>Actions</th>
	</tr>
	{% for topic in topics %}
		<tr class="{% if topic.wip %}wiptopic{% endif %}{% if topic.discarded %}discardtopic{% endif %}">
			<td>
				[{{ topic.type.value }}]
			</td>
			<td>
				<a href="https://forum.minetest.net/viewtopic.php?t={{ topic.topic_id}}">{{ topic.title }}</a>
				{% if topic.wip %}[WIP]{% endif %}
			</td>
			{% if show_author %}
				<td><a href="{{ url_for('users.profile', username=topic.author.username) }}">{{ topic.author.display_name}}</a></td>
			{% endif %}
			<td>{{ topic.name or ""}}</td>
			<td>{{ topic.created_at | date }}</td>
			<td class="btn-group">
				{% if current_user == topic.author or topic.author.checkPerm(current_user, "CHANGE_AUTHOR") %}
					<a class="btn btn-primary"
							href="{{ url_for('packages.create_edit', author=topic.author.username, repo=topic.getRepoURL(), forums=topic.topic_id, title=topic.title, bname=topic.name) }}">
						Create
					</a>
				{% endif %}
				{% if show_discard and current_user.is_authenticated and topic.checkPerm(current_user, "TOPIC_DISCARD") %}
					<a class="btn btn-{% if topic.discarded %}success{% else %}danger{% endif %} topic-discard" data-tid={{ topic.topic_id }}>
						{% if topic.discarded %}
							Show
						{% else %}
							Discard
						{% endif %}
					</a>
				{% endif %}
				{% if topic.link %}
					<a class="btn btn-info" href="{{ topic.link }}">{{ topic.link | domain | truncate(18) }}</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>
{% endmacro %}


{% macro render_topics(topics, current_user, show_author=True) -%}
<ul>
	{% for topic in topics %}
		<li{% if topic.wip %} class="wiptopic"{% endif %}>
			<a href="https://forum.minetest.net/viewtopic.php?t={{ topic.topic_id}}">{{ topic.title }}</a>
			{% if topic.wip %}[WIP]{% endif %}
			{% if topic.name %}[{{ topic.name }}]{% endif %}
			{% if show_author %}
				by <a href="{{ url_for('users.profile', username=topic.author.username) }}">{{ topic.author.display_name }}</a>
			{% endif %}
			{% if topic.author == current_user or topic.author.checkPerm(current_user, "CHANGE_AUTHOR") %}
				| <a href="{{ url_for('packages.create_edit', author=topic.author.username, repo=topic.getRepoURL(), forums=topic.topic_id, title=topic.title, bname=topic.name) }}">Create</a>
			{% endif %}
		</li>
	{% endfor %}
</ul>
{% endmacro %}
