{% extends "base.html" %}

{% block title %}
	{{ _('Delete "%(title)s" by %(author)s', title=thread.title, author=thread.author.username) }}
{% endblock %}

{% block content %}
	<form method="POST" action="" class="card box_grey">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

		<h3 class="card-header">{{ self.title() }}</h3>
		<div class="card-body markdown">
			{{ thread.first_reply.comment | markdown }}
		</div>
		<div class="card-body">
			<p>{{ _("Deleting is permanent") }}</p>

			<a class="btn btn-secondary mr-3" href="{{ thread.get_view_url() }}">{{ _("Cancel") }}</a>
			<input type="submit" value="{{ _('Delete') }}" class="btn btn-danger" />
		</div>
	</form>
{% endblock %}
