{% extends "base.html" %}

{% block title %}
	{{ _("Threads") }}
	{% if package %}
		- {{ package.title }}
	{% endif %}
{% endblock %}

{% block content %}
	{% if current_user.is_authenticated and package %}
		<a href="{{ url_for('threads.new', pid=package and package.id) }}" class="btn btn-primary float-end">{{ _("New Thread") }}</a>
	{% endif %}
	<h1>{{ self.title() }}</h1>

	{% from "macros/pagination.html" import render_pagination %}
	{% from "macros/threads.html" import render_threadlist %}
	{{ render_pagination(pagination, url_set_query) }}

	<div class="list-group">
		{{ render_threadlist(threads) }}
	</div>

	{{ render_pagination(pagination, url_set_query) }}

{% endblock %}
