{% extends "base.html" %}


{% block link %}
	<a href="{{ url_for('users.profile', username=user.username) }}">{{ user.display_name }}</a>
{% endblock %}

{% block title %}
	{{ _("Comments by %(user)s", user=user.display_name) }}
{% endblock %}

{% block content %}
<h1>{{ _("Comments by %(user)s", user=self.link()) }}</h1>


<ul class="comments mt-5 mb-0">
{% for r in replies %}
	<li class="row my-2 mx-0">
		<div class="col-md-1 p-1">
			<a href="{{ url_for('users.profile', username=r.author.username) }}">
				<img class="img-fluid user-photo img-thumbnail img-thumbnail-1"
					src="{{ r.author.get_profile_pic_url() }}" loading="lazy">
			</a>
		</div>
		<div class="col pr-0">
			<div class="card">
				<div class="card-header">

					<a class="author {{ r.author.rank.name }} me-3"
							href="{{ url_for('users.profile', username=r.author.username) }}">
						{{ r.author.display_name }}
					</a>

					{% if r.author.username != r.author.display_name %}
						<span class="text-muted small me-2">
							({{ r.author.username }})
						</span>
					{% endif %}

					{% if r == r.thread.first_reply %}
						<a class="badge bg-primary" href="{{ r.thread.get_view_url() }}">
							{{ r.thread.title }}
						</a>
					{% else %}
						<i class="fas fa-reply me-2"></i>
						<a class="badge bg-dark" href="{{ r.thread.get_view_url() }}">
							{{ _("Reply to <b>%(title)s</b>", title=r.thread.title) }}
						</a>
					{% endif %}

					<a name="reply-{{ r.id }}" class="text-muted float-end"
							href="{{ url_for('threads.view', id=r.thread.id) }}#reply-{{ r.id }}">
						{{ r.created_at | datetime }}
					</a>
				</div>

				<div class="card-body markdown">
					{{ r.comment | markdown }}
				</div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>

{% endblock %}
