{% extends "base.html" %}

{% block title %}
	{% if license %}
		Edit {{ license.name }}
	{% else %}
		New license
	{% endif %}
{% endblock %}

{% block content %}
	<a class="btn btn-primary float-end" href="{{ url_for('admin.create_edit_license') }}">New License</a>
	<a class="btn btn-secondary mb-4" href="{{ url_for('admin.license_list') }}">Back to list</a>

	{% from "macros/forms.html" import render_field, render_checkbox_field, render_submit_field %}
	<form method="POST" action="" enctype="multipart/form-data">
		{{ form.hidden_tag() }}

		{{ render_field(form.name) }}
		{{ render_checkbox_field(form.is_foss) }}
		{{ render_field(form.url) }}
		{{ render_submit_field(form.submit) }}
	</form>
{% endblock %}
