{% extends "base.html" %}

{% block title %}
Licenses
{% endblock %}

{% block content %}
	<a class="btn btn-primary float-end" href="{{ url_for('admin.create_edit_license') }}">{{ _("New License") }}</a>

	<h1>{{ _("Licenses") }}</h1>

	<div class="list-group">
		{% for l in licenses %}
			<a class="list-group-item list-group-item-action"
					href="{{ url_for('admin.create_edit_license', name=l.name) }}">
				<span class="float-end badge {% if l.is_foss %}bg-primary{% else %}bg-warning{% endif %} rounded-pill">
					{{ l.is_foss and "Free" or "Non-free"}}
				</span>
				{{ l.name }}
			</a>
		{% endfor %}
	</div>
{% endblock %}
