{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<!-- <header class="jumbotron">
	<div class="container">
		<h1 class="display-3">{{ config.USER_APP_NAME }}</h1>

		<p class="lead">
			Minetest's official content repository.
			Browse {{ count }} packages,
			the majority of which are available under a free
			and open source license.
		</p>
	</div>
</header>

<main class="container"> -->
	{% from "macros/packagegridtile.html" import render_pkggrid %}


	<a href="{{ url_for('packages_page', sort='created_at', order='desc') }}" class="btn btn-secondary float-right">
		See more
	</a>
	<h2 class="my-3">Recently Added</h2>
	{{ render_pkggrid(new) }}


	<a href="{{ url_for('packages_page', type='mod', sort='score', order='desc') }}" class="btn btn-secondary float-right">
		See more
	</a>
	<h2 class="my-3">Top Mods</h2>
	{{ render_pkggrid(pop_mod) }}


	<a href="{{ url_for('packages_page', type='game', sort='score', order='desc') }}" class="btn btn-secondary float-right">
		See more
	</a>
	<h2 class="my-3">Top Games</h2>
	{{ render_pkggrid(pop_gam) }}


	<a href="{{ url_for('packages_page', type='txp', sort='score', order='desc') }}" class="btn btn-secondary float-right">
		See more
	</a>
	<h2 class="my-3">Top Texture Packs</h2>
	{{ render_pkggrid(pop_txp) }}

	<div class="text-center">
		<small>
			CDB has {{ count }} packages available to download.
		</small>
	</div>
<!-- </main> -->
{% endblock %}
