{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
	<header>
		<h1>Content DB</h1>

		<p>
			Minetest's official content repository.
			Browse {{ packages | length }} packages,
			all available under a free and open source
			license.
		</p>

		<form method="get" action="/packages/">
			<input type="text" name="q" value="{{ query or ''}}" />
			<input type="submit" value="Search" />
		</form>
	</header>

	<ul class="packagegrid">
		{% for p in packages %}
			<li><a href="{{ p.getDetailsURL() }}"
				style="background-image: url({{ p.getMainScreenshotURL() or '/static/screenshot.png' }});">
				<span>{{ p.title }} by {{ p.author.display_name }}</span>
			</a></li>
		{% else %}
			<li><i>No packages available</i></ul>
		{% endfor %}
	</ul>
{% endblock %}
