{% extends "base.html" %}

{% block title %}
	{{ package.title }}
{% endblock %}

{% block content %}
	<h1>{{ package.title }} by {{ package.author.display_name }}</h1>

	<aside class="asideright box box_grey">
		<table>
			<tr>
				<td>Name</td>
				<td>{{ package.name }}</td>
			</tr>
			<tr>
				<td>Author</td>
				<td>
					<a href="{{ url_for('user_profile_page', username=package.author.username) }}">
						{{ package.author.display_name }}
					</a>
				</td>
			</tr>
			<tr>
				<td>Type</td>
				<td>{{ package.type.value }}</td>
			</tr>
		</table>

		<ul class="buttonset linedbuttonset">
			{% if package.repo %}<li><a href="{{ package.repo }}">View Source</a></li>{% endif %}
			{% if package.forums %}<li><a href="{{ package.forums }}">Forums</a></li>{% endif %}
			{% if package.issueTracker %}<li><a href="{{ package.issueTracker }}">Issue Tracker</a></li>{% endif %}
			{% if package.website %}<li><a href="{{ package.website }}">Website</a></li>{% endif %}
			{% if package.checkPerm(current_user, "EDIT_PACKAGE") %}
				<li><a href="{{ package.getEditURL() }}">Edit</a></li>
			{% elif current_user.is_authenticated %}
				<li><a href="">Suggest Change</a></li>
			{% endif %}
		</ul>
	</aside>

	<p class="package-short-large">{{ package.shortDesc }}</p>

	{{ package.desc | markdown }}
{% endblock %}
